* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 50px;
  width: 100%;
  background-color: lightgrey;
}

li {
  padding: 0 10px;
  width: 50px;
}

ul,
li {
  list-style: none;
}

h2 {
  padding-bottom: 20px;
}

.content {
  flex: 1;
}

footer {
  height: 100px;
  width: 100%;
  background-color: lightgrey;
  position: sticky;
  bottom: 0;
}

.task-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.task-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.task-buttons button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.form-container {
  margin-top: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"], .form-container input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  box-sizing: border-box;
}

.form-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color: #45a049;
}
