.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: skyblue;
    color: red;
  }
  
  .navbar-title {
    flex-grow: 1;
    text-align: center;
  }

  .playfair-display-title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: 400;
    color:blue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  
  .navbar-links {
    display: flex;
    gap: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
  }
  
  .navbar-links a {
    color: red;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  