<div class="manage-games-container">
    <h2>Manage Games</h2>
    <button (click)="navigateToAddGame()">Add Game</button>
    <table>
      <tr>
        <th>Game Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Image URL</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let game of games">
        <td>{{ game.game_name }}</td>
        <td>{{ game.category }}</td>
        <td>{{ game.description }}</td>
        <td>{{ game.image_url }}</td>
        <td>{{ game.type }}</td>
        <td>
          <button *ngIf="game.game_id !== undefined" (click)="editGame(game.game_id)">Edit</button>
          <button *ngIf="game.game_id !== undefined" (click)="deleteGame(game.game_id)"></button>
        </td>
      </tr>
    </table>
  </div>
  