:host {
    display: block;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .game-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .game-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .game-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .game-details {
    text-align: left;
    margin-bottom: 20px;
  }

 
  .game-details p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .play-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .play-button:hover {
    background-color: #45a049;
  }
  
  .loading {
    font-size: 1.5em;
    color: #666;
  }
  